:root{
    --light-blue: #a5c5e6;
    --strong-blue: #326598;
}

main {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 520px;
    height: 260px;
    margin: 20px;
}

.content {
    position: relative;
    transition: 2.25s;
    background: var(--strong-blue);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(0.5turn);
}

.front-card-portfolio,
.back-card-portfolio {
    position: absolute;
    inset: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.title-card-portfolio {
    color: var(--light-blue);
    transform: translateZ(2.5em);
    font-size: 40px;
}

.back-card-portfolio {
    transform: rotateY(0.5turn);
    background-color: var(--strong-blue);
}

.description-card-portfolio {
    color: var(--light-blue);
    transform: translateZ(5em);
}

.content,
.back-card-portfolio{
    border-radius: 0.5em;
}

@media screen and (max-width: 1250px) {
    .card {
        width: 420px;
        height: 200px;
    }
}

@media screen and (max-width: 940px) {
    .card {
        width: 260px;
        height: 190px;
    }
}