:root {
    --light-blue: #a5c5e6;
    --strong-blue: #326598;
    --btn-font-selected: #38958C;
}

main {
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    height: 130vh;
}

.svg {
    width: 90px;
    border-radius: 1.7em;
    box-shadow: 0px 0px 37px 15px var(--strong-blue);
}

.projects-div-arrow-right,
.projects-div-arrow-left {
    width: 15%;
    height: 100%;
}

.projects-container {
    width: 70%;
    height: 80%;
    position: relative;
}

.projects-card {
    height: 100%;
    width: 100%;
    position: absolute;
    left: -2%;
    margin: 20px;
    border: 5px solid var(--light-blue);
    border-radius: 0.5em;
}

.card-left {
    transform: translateX(-200%);
    transition: all 1s;
}

.card-center {
    transform: translateX(0);
    transition: all 1s;
}

.card-right {
    transform: translateX(200%);
    transition: all 1s;
}

.card-invisible {
    opacity: 0;
    z-index: -5;
}

.arrowBtn {
    z-index: 2;
}

/*-------------------------------------------*/

.projects-card-middle-div-right,
.projects-card-middle-div-left {
    height: 100%;
    width: 50%;
}

.projects-card-inner-div-right,
.projects-card-inner-div-left {
    height: 90%;
    width: 90%;
    border-radius: 0.5em;
}

.projects-card-inner-div-left {
    flex-direction: column;
    justify-content: center;
}

.projects-card-inner-div-right {
    margin: 20px;
    height: 40%;
    width: 70%;
}

.projects-card-title,
.projects-card-text {
    margin: 20px;
    margin-top: 0;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.projects-card-text {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 30px;
}

.projects-card-title {
    text-align: center;
    font-size: 40px;
    color: var(--btn-font-selected);
}

.btn-projects-card {
    height: 50px;
    margin: 15px;
    margin-bottom: 25px;
    width: 120px;
    font-size: 16px;
    color: var(--light-blue);
    border-radius: 5px;
    background: var(--strong-blue);
    box-shadow: 0px 0px 15px 3px var(--strong-blue);
    transition: 0.5s;
    --btn-animation-duration: 1.5s;
    text-align: center;
}

.btn-projects-card:hover {
    box-shadow: 0px 0px 15px 1px var(--btn-font-selected);
}

.btn-projects-card:active {
    box-shadow: 0px 0px 20px 10px var(--btn-font-selected);
}

/*-------------------------------------------------------------*/

#img_card_donut {
    background: url(../Images/carousel_images/carousel_donut.png);
    background-size: cover;
}

#img_card_timefinder {
    background: url(../Images/carousel_images/carousel_timefinder.png);
    background-size: cover;
}

#img_card_computerbuild {
    background: url(../Images/carousel_images/carousel_computer.jpg);
    background-size: cover;
}

#img_card_randomfact {
    background: url(../Images/carousel_images/carousel_randomfact.png);
    background-size: cover;
}

#img_card_laptoprepair {
    background: url(../Images/carousel_images/carousel_laptop.jpg);
    background-size: cover;
}

#img_card_numberconverter {
    background: url(../Images/carousel_images/carousel_numberconverter.png);
    background-size: cover;
}

/*-------------------------------------------------------------*/

/* @media screen and (max-width: 1650px) {
    .projects-card-inner-div-right {
        width: 70%;
        height: 60%; 
    }
} */

@media screen and (max-width: 1400px) {
    .projects-card-inner-div-right {
        height: 40%;
    }

    .projects-card-title {
        font-size: 35px;
    }

    .projects-card-text {
        font-size: 19px;
    }

    .arrowBtn {
        width: 30%;
        height: 30%;
        border-radius: 1.5em;
    }
}

@media screen and (max-width: 1200px) {
    .projects-card-inner-div-right {
        height: 30%;
    }

    .arrowBtn {
        border-radius: 1.2em;
    }

    .projects-card-text {
        margin-bottom: 40px;
        font-size: 17px;
        line-height: 25px;
    }
}

@media screen and (max-width: 925px) {
    main {
        height: 150vh;
    }

    .projects-card {
        flex-direction: column;
        left: -4%;
    }

    .projects-card-middle-div-right,
    .projects-card-middle-div-left {
        width: 100%;
        height: 100%;
    }

    .projects-card-title {
        margin-top: 20px;
    }

    .projects-card-inner-div-right {
        width: 50%;
        height: 70%;
    }

    .projects-card-title,
    .projects-card-text {
        width: 300px;
    }

    .btn-projects-card {
        height: 40px;
        width: 90px;
    }
}

@media screen and (max-width: 750px) {
    .projects-card {
        border: none;
    }

    .projects-card-text,
    .projects-card-title {
        width: 250px;
    }

    .projects-card-inner-div-right {
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 600px) {
    .projects-card-inner-div-right {
        width: 90%;
        height: 80%;
    }
}

@media screen and (max-width: 500px) {
    .projects-card-inner-div-right {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 450px) {
    .projects-card-inner-div-right {
        height: 200px;
        width: 200px;
    }

    .projects-card {
        left: -7.5%;
    }
}