:root {
    --light-blue: #a5c5e6;
    --strong-blue: #326598;
    --btn-font-selected: #38958C;
    --dark-blue: #294156;
}

main {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hiddenSkill {
    visibility: hidden;
}

.block-div {
    position: relative;
    height: 360px;
    width: 360px;
    display: flex;
    justify-content: top;
    flex-wrap: inherit;
    transition: ease-in 0.4s;
    margin: 40px;
}

.block-div:hover {
    transform: scale(1.2);
}

.blockDescription {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-blue);
    font-size: 40px;
    text-align: center;
}

.block-btn {
    height: 120px;
    width: 120px;
    background-color: var(--dark-blue);
    /*-------------------------------------------------------------*/
    overflow: visible;
}

.block-btn:hover {
    box-shadow: 0px 0px 15px 1px var(--light-blue);
    background-color: var(--light-blue);
    /*-------------------------------------------------------------*/
}

.btn-border-bottom-right {
    border-bottom-right-radius: 0.8em;
}

.btn-border-bottom-left {
    border-bottom-left-radius: 0.8em;
}

.btn-border-top-left {
    border-top-left-radius: 0.8em;
}

.btn-border-top-right {
    border-top-right-radius: 0.8em;
}

.hoverEffect {
    height: 115px;
    width: 115px;
    border-radius: 0.8em;
    color: var(--btn-font-selected);
    margin: 2px;
}

/*---------------------------------------------------------------------------------*/

.langBlock-icon-div,
.toolBlock-icon-div {
    opacity: 0;
    height: 90%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/*---------------------------------------------------------------------------------*/

#langBlock-img-1 {
    background-image: url(../Images/skills_icons/lang_block/icon_csharp.png);
}

#langBlock-img-2 {
    background-image: url(../Images/skills_icons/lang_block/icon_fsharp.png);
}

#langBlock-img-3 {
    background-image: url(../Images/skills_icons/lang_block/icon_bpmn.svg);
}

#langBlock-img-4 {
    background-image: url(../Images/skills_icons/lang_block/icon_js.png);
    height: 80%;
    width: 80%;
    border-radius: 0.75em;
}

#langBlock-img-5 {
    background-image: url(../Images/skills_icons/lang_block/icon_html.png);
}

#langBlock-img-6 {
    background-image: url(../Images/skills_icons/lang_block/icon_css.png);
}

#langBlock-img-7 {
    background-image: url(../Images/skills_icons/lang_block/icon_mongodb.svg);
}

#langBlock-img-8 {
    background-image: url(../Images/skills_icons/lang_block/icon_sqlserver.svg);
}

#langBlock-img-9 {
    background-image: url(../Images/skills_icons/lang_block/icon_uml.png);
}

/*---------------------------------------------------------------------------------*/

#toolBlock-img-1 {
    background-image: url(../Images/skills_icons/tool_block/icon_aws.png);
}

#toolBlock-img-2 {
    background-image: url(../Images/skills_icons/tool_block/icon_docker.png);
}

#toolBlock-img-3 {
    background-image: url(../Images/skills_icons/tool_block/icon_postman.png);
    height: 80%;
    width: 80%;
}

#toolBlock-img-4 {
    background-image: url(../Images/skills_icons/tool_block/icon_dotnet.png);
    height: 80%;
    width: 80%;
}

#toolBlock-img-5 {
    background-image: url(../Images/skills_icons/tool_block/icon_powershell.png);
}

#toolBlock-img-6 {
    background-image: url(../Images/skills_icons/tool_block/icon_git.png);
}

#toolBlock-img-7 {
    background-image: url(../Images/skills_icons/tool_block/icon_blender.png);
}

#toolBlock-img-8 {
    background-image: url(../Images/skills_icons/tool_block/icon_seleniumide.jpg);
    height: 80%;
    width: 80%;
    border-radius: 0.75em;
}

#toolBlock-img-9 {
    background-image: url(../Images/skills_icons/tool_block/icon_xd.png);
    height: 83%;
    width: 83%;
}

/*---------------------------------------------------------------------------------*/


@media screen and (max-width: 525px) {
    .block-div {
        height: 180px;
        width: 180px;
    }

    .block-btn {
        height: 60px;
        width: 60px;
    }

    .hoverEffect {
        height: 56px;
        width: 56px;
    }

    .blockDescription {
        font-size: 30px;
        top: 35%;
    }
}