:root {
    --dark-section: #111D27;
    --nav-btn-light: #326598;
    --nav-btn-strong: #112726;
    --nav-btn-font: #a5c5e6;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px auto 80px;
    grid-template-areas:
        'header nav nav'
        'main main main'
        'footer footer footer';
    height: 100%;
}

/*Flexboxes--------------------------------------------------------------*/

header,
main,
nav,
footer,
.flexbox,
a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------------*/

header {
    grid-area: header;
    background-color: var(--dark-section);
}

nav {
    grid-area: nav;
    background-color: var(--dark-section);
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    grid-area: main;
    background-image: url(../Images/Background_Main.png);
}

footer {
    grid-area: footer;
    background-color: var(--dark-section);
}

/*Header---------------------------------------------------------------*/
#logo-container {
    height: 100%;
    width: 100%;
}

#logoDiv {
    height: 100%;
    width: 25%;
    padding-left: 30px;
}

#logo {
    height: 150px;
    width: 250px;
}

#navDiv {
    height: 100%;
    width: 75%;
    justify-content: space-evenly;
}

/*Nav-------------------------------------------------------------------*/

.nav-btn {
    height: 50px;
    margin: 15px;
    margin-bottom: 25px;
    width: 120px;
    font-size: 16px;
    color: var(--nav-btn-font);
    /*font-family: Richtige Schrift suchen*/
    border: solid #404C5D 1px;
    border-radius: 5px;
    background: var(--dark-section);
    /*Farbe noch auswählen*/
    box-shadow: 0px 0px 20px 5px var(--nav-btn-light);
    transition: 0.5s;
    --btn-animation-duration: 1.5s;
}

.nav-btn:hover {
    box-shadow: 0px 0px 15px 1px var(--nav-btn-light);
}

.nav-btn:active {
    box-shadow: 0px 0px 20px 10px var(--nav-btn-light);
}

#cv-btn::after{
    content: "Lebenslauf";
}

#cv-btn:hover::after{
    animation: loading linear both 1.5s;
    color:rgb(50, 203, 50);
}



@keyframes loading {
    0% {
        content: "¿/*#¦-±}$°";
    }

    10% {
        content: "L@}-?/*#¦ç";
    }

    20% {
        content: "Le?{,^!4@%";
    }

    30% {
        content: "Leb\;1}]f[4";
    }

    40% {
        content: "Lebe'1_0<}";
    }

    50% {
        content: "Leben=.,^!";
    }

    60% {
        content: "Lebens@}-?";
        right: 0;
    }

    70% {
        content: "Lebensl#{+";
        right: 0;
    }

    80% {
        content: "Lebensla@/";
        right: 0;
    }

    90% {
        content: "Lebenslau*";
        right: 0;
    }

    100% {
        content: "Lebenslauf";
        right: 0;
    }
}

/*----------------------------------------------------------------------*/



@media screen and (max-width: 1050px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto auto 80px;
        grid-template-areas:
            'header'
            'nav'
            'main'
            'footer';
        height: 100%;
    }
}